.al :global(.ant-card-body) {
    padding: 10px;
}

.articleBox:hover {
    transform: scale(1.05, 1.05);
}

.articleBox {
    transform: scale(1, 1);
    transition: transform .3s ease;
}
.articleItem{
    width: 250px;
    padding: 5px;
    margin: 10px;
}
@media all and (max-width:600px){
    .articleItem{
        width:auto;
    }
    .articleItem:last-child{
        margin-bottom: 40px;
    }
}