.navTimeline:hover {
    text-shadow: 0 0 5px black;
}

.navTimeline {
    text-shadow: 0 0 0px black;
    transition: text-shadow .3s ease;
}
.navBody{
    float: left;
    height: 100%;
    background:#fff;
    border-right:1px solid #e9e9e9;
    position:relative;
}
.navItem{
    padding: 10px;
    font-size: .75rem;
    line-height: 2em;
    position: relative;
}
.navItem::before{
    background: rgba(24, 144, 255, 0.2);
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top:100%;
    /* border-right: 2px solid gray; */
    transition: height .2s linear,top .2s linear;
}
.navItem:hover::before{
    height: 100%;
    top:0;
    /* transition: height .2s,top .2s; */
}
.navItem:hover + .navItem::before{
    top:0;
}
.navItemSelected::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background:rgba(24, 144, 255, 0.4);
    border-right: 2px solid rgba(24, 144, 255, 0.6);
}