.tag {
    border: 1px solid currentColor;
    display: inline-block;
    font-size: .75rem;
    line-height: 2em;
    padding: 0 10px 0 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 1px 1px gray inset;
}

.tag a {
    text-decoration-line: none;
}

.tag:hover {
    box-shadow: 0 0 3px 1px gray inset;
    transform: all .2s ease;
}

.tag::after {
    content: '';
    position: absolute;
    left: -60px;
    top: -80px;
    width: 10px;
    height: 200px;
    background: currentColor;
    transform: rotate(40deg);
    opacity: .4;
    transition: left .7s ease;
    box-shadow: 0 0 10px 10px currentColor;
}

.tag:hover::after {
    left: 120%;
}